body {
    margin-top: 2rem;
}

h1 {
    text-align: center;
    font-size: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 0.3rem;
  font-size: 38;
}

td, th {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

td {
    color: white;
}

#b { background-color: #3b7b82; }
#f { background-color: #3c8189; }
#h { background-color: #3d8891; }
#a { background-color: #3e8f99; }
#m { background-color: #3e97a1; }
#i { background-color: #3f9ea9; }
#g { background-color: #bbbb3f; }
#l { background-color: #a9bd3f; }
#r { background-color: #98be3f; }
#e { background-color: #86c03f; }
#q { background-color: #73c140; }
#p { background-color: #61c241; }
#s { background-color: #3ec242; }
#acm { background-color: #43c349; }
#fil { background-color: #44c35e; }
